# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Training Outputs
checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Python cache
.pytest_cache/

# Bytecode
*.pyo
